<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title><%= title %></title>
</head>
<body>
    <div class="home-style">
        <div class="feed-style">
            <div id="feed-heading">
                <p> Recent Post 🔥  </p>
            </div>
            <% if(locals.user) { %>
                <div id="post-create-style">
                    <section id="feed-post">
                        <!-- if user is not signed in, form section will not be visible to them -->
                        <form action="/posts/create" id="new-post-form" method="post">
                            <div class="button">
                                <textarea name="content" cols="30" rows="3" placeholder="Type here..." required></textarea>
                                <input type="submit" value="post">
                            </div>
                        </form>
                    </section>
                </div>
            <% } %>
            <!-- This is display all the post present in db -->
            <div id="posts-show">
                <% for (let i of post_list) { %>
                    <div class="post-style">
                        <div class="content-stylings">
                            
                            <div>
                                <h3><%= i.user.name %></h3>
                                <h6><span class="dot"></span><%= i.createdAt %></h6>
                            </div>
                            <p><%= i.content %></p>
                            <% if(locals.user && locals.user.id==i.user.id) { %>
                                <small>
                                    <a href="/posts/destroy/<%= i.id%>">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </small>
                            <% } %>
                        </div>
                        <div class="comment-section">
                            <% if(locals.user) { %>
                                <div class="comment-create-style">
                                    <form action="/comments/create" method="POST">
                                        <input type="text" name="content" placeholder="Type comment here ... " required>
                                        <!-- it will send the post id as a attribute-->
                                        <input type="hidden" name="post" value="<%= i._id %>"> 
                                        <button type="submit">Add Comment</button>
                                    </form>
                                </div>
        
                                <div class="comments-style">
                                    <ul id="post-comments-<%= i._id %>">
                                        <% for(let comment of i.comments) { %>
                                            <p>
                                                <%= comment.content %>
                                                <br>
                                                <small>
                                                    -<%= comment.user.name %>
                                                </small>
                                            </p>
                                        <% } %>
                                    </ul>
                                </div>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>

    </div>
</body>
</html>