<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title><%= title %></title>
</head>
<body>
    <div class="home-style">
        
        <!-- !Showing the feed -->
        <div class="feed-style">
            <div id="feed-heading">
                <p> Recent Post 🔥  </p>
            </div>
            <% if(locals.user) { %>
                <div id="post-create-style">
                    <section id="feed-post">
                        <!-- if user is not signed in, form section will not be visible to them -->
                        <form action="/posts/create" id="new-post-form" method="post">
                            <div class="button">
                                <textarea name="content" cols="30" rows="3" placeholder="Type here..." required></textarea>
                                <input type="submit" value="post">
                            </div>
                        </form>
                    </section>
                </div>
            <% } %>
            <!-- This is display all the post present in db -->
            <div id="posts-show">
                <% for (let i of post_list) { %>
                    <%- include('_post',{i: i}) -%>
                <% } %>
            </div>       
        </div>
        <!-- ! Showing all the friends
        <div id="user-friends">
            <div id='list_friends'>
                <p> Friends </p>
                <% for(let u of user_list) { %>
                    <p>
                        <a href="/users/profile/<%= u.id%>"><%= u.name %></a>
                    </p>
                <% } %> 
            </div>                   
        </div>  -->
        <!-- ! showing all the Friends -->
        <div id="app-users">
            <div id='list_users'>
                <p> Users </p>
                <% for(let u of user_list) { %>
                    <p>
                        <a href="/users/profile/<%= u.id%>"><%= u.name %></a>
                    </p>
                <% } %> 
            </div>                   
        </div>
        <%- include('_chatbox') %>
    </div>
    
</body>
</html>