<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <!-- Jquery CDN Plugin -->
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/layout.css"/>
    <%- style %>
  </head>

  <body>
    <%- include('_header'); %> 
    <%- body %> 
    <%- include('_footer'); %> 
    <%- script %>

    <script>
      <% if(flash.success && flash.success.length > 0) {%>
        new Noty({
            theme: 'semanticui',
            text: '<%= flash.success %>',
            type: 'success',
            layout: 'topRight',
            progressBar: 'true',
            timeout: '1500'
        }).show();
      <% } %>
      <% if(flash.error && flash.error.length > 0) {%>
        new Noty({
            theme: 'semanticui',
            text: '<%= flash.error %>',
            type: 'error',
            layout: 'topRight',
            progressBar: 'true',
            timeout: '1500'
        }).show();
      <% } %>
    </script>
  </body>
</html>