<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/user_profile.css">
    <title><%= title %></title>
</head>
<body>
    <div class="profile-style">
        <% if(user.id == profile_user.id ) { %>
            <!-- if user matches show the form -->
            <div class="card-styling">
                <img 
                    class="profile-pic"

                    <% if(profile_user.avatar) { %>
                        src="<%= profile_user.avatar %>" 
                    <% } else { %>
                        src="https://logodix.com/logo/360469.png"
                    <% } %>
                    alt="profile-pic-<%= profile_user.name %>"
                >
                <div class="card-info">
                    <form action='/users/update/<%= profile_user._id%>' enctype="multipart/form-data" method='post'>
                        <input type="text" name="name" placeholder="Update name here..." value="<%=profile_user.name %>" required>
                        <input type="text" name="email" placeholder="Update email here..." value="<%=profile_user.email %>" required>
                        <input type="file" name="avatar" placeholder="profile picture">
                        <button type="submit">Update</button>
                    </form>
                </div>
            </div>
        <% } else { %>
            <!-- else show only the profile info -->
            <div class="card-styling">
                <img 
                    class="profile-pic"
                    <% if(profile_user.avatar) { %>
                        src="<%= profile_user.avatar %>" 
                    <% } else { %>
                        src="https://www.pinclipart.com/picdir/middle/8-82428_profile-clipart-generic-user-gender-neutral-head-icon.png"
                    <% } %>
                    alt="profile-pic-<%= profile_user.name %>"
                >
                <div class="card-info">
                    <div>
                        Name: <%= profile_user.name %>
                    </div>
                    <div>
                        Email: <%= profile_user.email %>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>